<div class="back-button">
  <%= link_to '<', root_path %>
</div>
<div class="photo">
  <%= image_tag @teacher.get_image %>
</div>
<div class="profile">

  <div class="profile__content">
    <div class="profile__content-right font-size">
      名前：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.get_name %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      大学：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.get_university %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      学部：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.get_department %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      教科：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.get_subjects %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      希望時給：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.get_salary %>
    </div>
  </div>

  <div class="profile__profile font-size" style="margin-top: 75px;">
    <%= simple_format(@teacher.get_profile) %>
  </div>

</div>

<% if teacher_signed_in? && @teacher.id == current_teacher.id %>
  <div class="footer">
    <div class="button">
      <%= link_to "編集", edit_teacher_path(current_teacher) %>
    </div>
  </div>
<% end %>

<% if student_signed_in? %>
  <div class="footer">
    <div class="button">
      <%= link_to "チャット開始", chat_groups_path(student_id: current_student.id, teacher_id: @teacher_id), method: :post %>
    </div>
  </div>
<% end %>

