<div class="form-container">
  <div class="form">
    <div class="form__title">
      <h2>ログイン</h2>
    </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= button_tag type: "submit", class: "button", style: "width:462px;margin-bottom:15px;" do%>
      <%= fa_icon("sign-in") %>
          ログイン
    <% end %>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: "button", style: "font-size:28px;margin-bottom:15px;" do %>
        <%= fa_icon("facebook-official") %>
        facebookログイン
        <% end %>
      <% end -%>
    <% end -%>

<% end %>

    </div>
  </div>
</div>
